---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import '../../styles/global-style.css';
import '../../styles/photography-style.css';
import MyFooter from '../../components/MyFooter.astro';
const posts = (await getCollection('photography')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />	
	</head>
	<body>
		<parent1>
			<div class="header">
				<h1>photography</h1>
			</div>
			<div class="header-mobile">
				<h1>photo-<br>graphy</h1>
			</div>

			<main>
				<button class="instagram-btn">
					<a href="https://www.instagram.com/dominikjpg">Instagram</a>
				</button>

				<section>
					<ul class="main-grid">
						{
							posts.map((post) => (
								<li>
									<a href={`/photography/${post.slug}/`}>
										<img src={post.data.heroImage} alt="" />
										<h4 class="title">{post.data.title}</h4>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</main>
			<MyFooter />
			
	</body>
</html>
