---
import BaseHead from '../components/BaseHead.astro';
import '../styles/about-me-style.css';
import '../styles/global-style.css';
import MyFooter from '../components/MyFooter.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Image } from 'astro:assets';
import headerImage from "../assets/about-me/about-me.jpg"
import LinkedIn from "../assets/about-me/linkedin.svg"
import Instagram from "../assets/about-me/instagram.svg"
import Mail from "../assets/about-me/mail.svg"

---

<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

	<body>
		<div class="parent1">
		  <div class="main-grid">
			<div class="image article-section">
				<Image src={headerImage} alt="A picture of me, Dominik Lange"/>
			</div>

			<div class="name article-section">
			  <h1>Dominik <br> Lange</h1>
			  <div class="social">
				<a href="https://www.instagram.com/dominikjpg">
				  <Image class="icon" src={Instagram} alt="Instagram Icon"/>
				</a>
				<a href="https://www.linkedin.com/in/dominik-lange-2a016b25b/">
				  <Image class="icon"  src={LinkedIn} alt="LinkedIn Icon"/>
				</a>
				<a href="mailto:domi-lange@web.de">
				  <Image class="icon" src={Mail} alt="Mail Icon"/>
				</a>
			  </div>
			</div>

			<div class="text article-section">
				<p>Hallo, ich bin Dominik, Mediengestalter mit Erfahrung in Design, Motion Design, Fotografie, Website-Erstellung sowie UI und UX Design. Meine Arbeit zeichnet sich durch Kreativität, Präzision und  Verständnis für Ästhetik aus. Ich strebe nach zeitlosem Design, durchdachten Workflows sowie kontinuierlicher Weiterentwicklung. Auf meinem Weg suche ich stehts nach neuen Inspirationen und Herausforderungen um mein Wissen zu erweitern.</p>
			</div>

			<div class="contact article-section">
				<form class="form" action="https://formspree.io/f/myzgvgrj" method="post">
				  <input class="input vorname" type="text" id="Vorname" placeholder="Vorname" name="firstName" required>
				  <input class="input nachname" type="text" id="Nachname" placeholder="Nachname" name="lastName" required>
				  <input class="input mail" type="email" id="email" placeholder="E-Mail" name="email" required>
				  <textarea class="input message" id="message" type="text" id="input-message" placeholder="Nachricht" name="message" required></textarea>
				  <button class="submit-button" type="submit">Senden</button>
				</form>
			</div>

			<MyFooter class="footer"/>

		  </div>
		</div>
	  </body>