---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import '../../styles/global-style.css';
import '../../styles/design-style.css';
import MyFooter from '../../components/MyFooter.astro';
const posts = (await getCollection('design')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

import { Image } from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />	
		
	</head>
	<body>

		<div class="header">
			<h1>design work</h1>
		</div>

		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/design/${post.slug}/`}>
									<Image width={720} height={360} src={post.data.heroImage} alt={"post.data.altText"} />
									<h4 class="title">{post.data.title}</h2>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<MyFooter />
	</body>
</html>
