---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import '../styles/global-style.css';
import '../styles/design-undersite-style.css';
import MyFooter from '../components/MyFooter.astro';
import Carousel from '../components/Carousel.jsx';
import { slide } from 'astro:transitions';

type Props = CollectionEntry<'design'>['data'];

const { title, description, pubDate, updatedDate, heroImage, text, images } = Astro.props;

const slides = [
  { title: 'Slide1', image: '/assets/design/gute-fahrt/heroImage.jpg' },
  { title: 'Slide 2', image: '/assets/design/gute-fahrt/heroImage.jpg' },
  { title: 'Slide 3', image: '/assets/design/gute-fahrt/heroImage.jpg' },
  { title: 'Slide 4', image: '/assets/design/gute-fahrt/heroImage.jpg' },

];
---

<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main>
      <article>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
            {description && <p class="description">{description}</p>}
            {pubDate && <time datetime={pubDate.toString()}>Published: {new Date(pubDate).toLocaleDateString()}</time>}
            {updatedDate && <time datetime={updatedDate.toString()}>Updated: {new Date(updatedDate).toLocaleDateString()}</time>}
          </div>

          {text && (
            <div class="text-content">
              <p>{text}</p>
            </div>
          )}

          <Carousel slides={slides} client:load />

          <slot />
        </div>
      </article>
    </main>
    <MyFooter />
  </body>
</html>
